<main>  
    <form action="#/", method="POST" class="weather-form">
        <input type="text" name="city" placeholder="Enter a city name">
        <input type="submit" value="Get weather">
    </form>
    <div class="weather-container">
        <div class="weather-image-wrapper">
            <img src="/images/{{mainInfo.main}}.png" class="weather-image">
        </div>
        <div class="weather-info">
            <h1>Current weather in {{data.name}}</h1>
            <h1>{{mainInfo.main}}, {{data.main.temp}}째C</h1>
            <h3>Feels like: {{data.main.feels_like}}째C</h3>
            <h3>min: {{data.main.temp_min}}째C - max: {{data.main.temp_max}}째C</h3>
        </div>
    </div>
</main>